<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Profile | Volunteer</title>

<link rel="stylesheet" href="/css/volunteer/profile.css">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="dashboard-container">


<aside class="sidebar">

<div class="logo">
<i class="fa-solid fa-person-carry-box"></i>
<h2>Volunteer Panel</h2>
</div>


<ul>

<li>
<a href="/volunteer-dashboard">
<i class="fa-solid fa-chart-line"></i>
Dashboard
</a>
</li>


<li>
<a href="/pickups">
<i class="fa-solid fa-truck"></i>
Pickups
</a>
</li>


<li>
<a href="/delivery-history">
<i class="fa-solid fa-clock-rotate-left"></i>
Delivery History
</a>
</li>


<li class="active">
<a href="/volunteer-profile">
<i class="fa-solid fa-user"></i>
Profile
</a>
</li>


<li>
<a href="#" onclick="logout()">
<i class="fa-solid fa-right-from-bracket"></i>
Logout
</a>
</li>


</ul>

</aside>





<main class="main-content">


<div class="topbar">

<div>

<h1>
<i class="fa-solid fa-user"></i>
My Profile
</h1>

<p>
View and manage your volunteer information.
</p>

</div>


<div class="profile-icon">

<i class="fa-solid fa-user"></i>

</div>


</div>







<div class="profile-card">


<div class="profile-header">


<div class="profile-image">

<i class="fa-solid fa-user"></i>

</div>


<h2 id="volunteerName">
Loading...
</h2>


<p id="volunteerStatus">
-
</p>


</div>






<div class="profile-details">


<div class="detail-box">

<i class="fa-solid fa-phone"></i>

<div>

<h4>Phone</h4>

<p id="phone">
-
</p>

</div>

</div>





<div class="detail-box">

<i class="fa-solid fa-envelope"></i>

<div>

<h4>Email</h4>

<p id="email">
-
</p>

</div>

</div>






<div class="detail-box">

<i class="fa-solid fa-venus-mars"></i>

<div>

<h4>Gender</h4>

<p id="gender">
-
</p>

</div>

</div>






<div class="detail-box">

<i class="fa-solid fa-location-dot"></i>

<div>

<h4>City</h4>

<p id="city">
-
</p>

</div>

</div>






<div class="detail-box">

<i class="fa-solid fa-house"></i>

<div>

<h4>Address</h4>

<p id="address">
-
</p>

</div>

</div>






<div class="detail-box">

<i class="fa-solid fa-toggle-on"></i>

<div>

<h4>Availability</h4>

<p id="availability">
-
</p>

</div>

</div>



</div>






<button class="logout-btn" onclick="logout()">

<i class="fa-solid fa-right-from-bracket"></i>

Logout

</button>




</div>





</main>


</div>





<script src="/js/common/toast.js"></script>

<script src="/js/volunteer/profile.js"></script>


</body>
</html>